/* reset box-sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

#layout-container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar-container {
    background-color: green;
}

/* SIDE BAR */
/* logo & title */
#logo-and-title {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    align-items: center;

    padding-left: 2rem;

    color: white;
}

#logo-and-title > img {
    width: 4rem;
    height: 4rem;
}

/* MAIN PAGE */
#main-content-container {
    display: grid;
    grid-template-rows: 12rem 1fr;
}

#profile-section-container {
    display: grid;
    background-color: gray;
}

/* SEARCH & PROFILE */
#profile-section-container > div:first-of-type {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

/* SEARCH SECTION */
#profile-section-container > div:first-of-type > div:first-child {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1.2rem;

    padding-left: 4rem;
    align-content: center;
}

/* search field */
#profile-section-container > div:first-of-type > div:first-child > input {
    height: 2.2rem;
    margin-right: 0.5rem;
}

/* PROFILE SECTION */
#profile-section-container > div:first-of-type > div:last-child {
    display: grid;
    /* 2rem to automatically resize the notification */
    /* 5rem to automatically resize profile pic */
    grid-template-columns: 2rem 5rem auto;

    gap: 1.2rem;

    margin-left: 0.5rem;

    align-items: center;
    justify-items: center;

    justify-content: center;
    align-content: center;
}

/* GREETING & LINKS */
#profile-section-container > div:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* GREETING */
#profile-section-container > div:last-of-type > div:first-of-type {
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;

    padding-left: 4rem;
}

/* LINKS */
#profile-section-container > div:last-of-type > div:last-of-type {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    gap: 1.2rem;

    align-items: center;
    justify-content: center;
}

#profile-section-container > div:last-of-type > div:last-of-type > button {
    height: 2rem;
}

/* MAIN SECTION */
#main-section {
    background-color: pink;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

#projects-section > div {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    background-color: aqua;
}

#branding-section {
    background-color: blueviolet;
}
