/* reset box-sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

#layout-container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar-container {
    background-color: green;
}

/* SIDE BAR */
/* logo & title */
#logo-and-title {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    align-items: center;

    padding-left: 2rem;

    color: white;
}

#logo-and-title > img {
    width: 4rem;
    height: 4rem;
}

/* MAIN PAGE */
#main-content-container {
    display: grid;
    grid-template-rows: 250px 1fr;
}

/* SEARCH & PROFILE */
#main-content-container > div:first-of-type {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-auto-rows: 100px;

    background-color: aquamarine;
}

/* SEARCH SECTION */
#main-content-container > div:first-of-type > div:first-child {
    display: grid;
    grid-template-columns: 2rem 0.8fr;
    gap: 1.2rem;

    justify-content: center;
    align-content: center;
}

/* search icon */
#main-content-container > div:first-of-type > div:first-child > img {
    width: 2rem;
    height: 2rem;
}

/* search field */
#main-content-container > div:first-of-type > div:first-child > input {
    height: 2.2rem;
}

/* PROFILE SECTION */
#main-content-container > div:first-of-type > div:last-child {
    display: grid;
    /* 2rem to automatically resize the notification */
    /* 5rem to automatically resize profile pic */
    grid-template-columns: 2rem 5rem auto;

    gap: 1.2rem;

    align-items: center;
    justify-items: center;

    justify-content: center;
    align-content: center;
}
