/* reset box-sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

#layout-container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar-container {
    background-color: green;
}

/* SIDE BAR */
/* logo & title */
#logo-and-title {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    align-items: center;

    padding-left: 2rem;

    color: white;
}

#logo-and-title > img {
    width: 4rem;
    height: 4rem;
}

/* MAIN PAGE */
#main-content-container {
    display: grid;
    grid-template-rows: 12rem 1fr;
}

#profile-section-container {
    display: grid;
    background-color: gray;
}

/* SEARCH & PROFILE */
#profile-section-container > div:first-of-type {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

/* SEARCH SECTION */
#profile-section-container > div:first-of-type > div:first-child {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1.2rem;

    padding-left: 4rem;
    align-content: center;
}

/* search field */
#profile-section-container > div:first-of-type > div:first-child > input {
    height: 2.2rem;
    margin-right: 0.5rem;
}

/* PROFILE SECTION */
#profile-section-container > div:first-of-type > div:last-child {
    display: grid;
    /* 2rem to automatically resize the notification */
    /* 5rem to automatically resize profile pic */
    grid-template-columns: 2rem 5rem auto;

    gap: 1.2rem;

    margin-left: 0.5rem;

    align-items: center;
    justify-items: center;

    justify-content: center;
    align-content: center;
}

/* GREETING & LINKS */
#profile-section-container > div:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* GREETING */
#profile-section-container > div:last-of-type > div:first-of-type {
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;

    padding-left: 4rem;
}

/* LINKS */
#profile-section-container > div:last-of-type > div:last-of-type {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    gap: 1.2rem;

    align-items: center;
    justify-content: center;
}

#profile-section-container > div:last-of-type > div:last-of-type > button {
    height: 2rem;
}

/* MAIN SECTION */
#main-section {
    background-color: pink;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

#projects-section > div {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    padding: 2rem;
    padding-top: 0;

    justify-items: center;
}

#branding-section {
    background-color: blueviolet;
}

/* project card */
.project-card {
    height: 14rem;

    display: grid;
    grid-template-rows: 2.5rem 1fr 2rem;
    background-color: white;

    padding: 2rem;
    padding-top: 0;

    border-left: 0.5rem solid red;
    border-radius: 0.5rem;
}

.project-card > h3 {
    margin: 0;
    padding: 0;

    align-self: end;
}

/* show ellipses when text overflow */
.project-card > p {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

/* project card icons */
.project-card > div:last-of-type {
    display: grid;

    grid-template-columns: repeat(3, 2rem);
    gap: 0.5rem;

    justify-content: end;
    align-items: center;
}

/* ANNOUNCEMENTS */
#announcement-card {
    background-color: white;

    display: grid;
    grid-template-rows: repeat(3, content-fit);

    margin: 2rem;
    padding: 2rem;

    border-radius: 0.8rem;
}

#announcement-card h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}

#announcement-card > div:first-child,
#announcement-card > div:nth-child(2) {
    border-bottom: 1px solid black;
}

#announcement-card > :not(div:nth-of-type(1)) > h3{
    padding-top: 1rem;
}

#announcement-card p {
    margin: 0;
    margin-bottom: 1rem;
}

#announcement-card > div:last-of-type > p {
    margin-bottom: 0;
}
